$blue: #55d9be;
$white: #ccd6f6;
$grey: #8892b0;
$bg: #0a192f;

.footer-out {
  z-index: 10;
  width: 100%;
  background-color: $bg;
  .footer-group {
    background-color: $bg;
    display: table;
    height: 20vh;
    width: 75%;
    .footer-content {
      .footer-body {
        .icon-row {
          color: $grey;
          display: inline;
          .icons {
            color: $grey;
            li {
              color: $grey;
              display: inline-block;
              font-size: calc(1rem + 0.45vw);
              opacity: 0.4;
              transition: all 0.3s ease;
              margin-right: 1vw;
              &:hover {
                display: inline-block;
                transition: all 0.3s ease;
                color: $blue;
                opacity: 1;
                transform: translate(0, -5px);
                cursor: pointer;
              }
            }
          }
          p {
            margin-top: -0.5vw;
            font-family: "IBM Plex Mono";
            font-size: calc(0.3rem + 0.45vw);
            opacity: 0.4;
            font-weight: 600;
          }
        }
      }
    }
  }
}
